.my-orders-container{
  padding: 30px;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
}

.orders-table th,
.orders-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.orders-table th {
  background-color: #f4f4f4;
}

.order-items-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.order-items-table th,
.order-items-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.order-items-table th {
  background-color: #f4f4f4;
}