#view-products-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#products-heading {
  text-align: center;
  color: #343a40;
  margin-bottom: 20px;
}

#products-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

#products-table th,
#products-table td {
  padding: 10px;
  text-align: left;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

#products-table th {
  background-color: #f8f9fa;
  font-weight: bold;
}

#products-table td:first-child,
#products-table th:first-child {
  border-left: none;
}

#delete-button {
  padding: 5px 10px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
}

#delete-button:hover {
  background-color: #c82333;
}

#delete-button- {
  background-color: #dc3545;
  color: white;
  border: none;
}

#delete-button:hover {
  background-color: #c82333;
}